@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #334eff;
  }
}

@layer components {
  .sideBarButton {
    @apply flex w-full items-center space-x-3 rounded-lg p-2 text-left text-base font-normal capitalize text-grey-100 outline-none hover:bg-blue dark:hover:bg-blue lg:text-lg;
  }
  .chatRow {
    @apply flex items-center justify-center space-x-2 rounded-xl p-2 transition-all hover:border-blue hover:bg-slate-800 focus:border-blue focus:bg-slate-800;
  }
  .chatRow.active {
    @apply border-blue bg-slate-800;
  }
}
